<ol class="DO-NOT-COPY-THIS-CLASS-example-icon-list icons illustrative">
	{{#each icons }}<li>
		<details>
			<summary>
				<figure>
					<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" aria-hidden="true">
						<use href="../../icons/illustrative/{{ @root.category }}/db_ic_il_{{ icon }}.svg#icon"></use>
					</svg>
					<figcaption>{{ icon }}{{#if style }}_{{ style }}{{/if }}</figcaption>
				</figure>
			</summary>
			<aside>
				<ol>
					{{#each @root.example-bgs }}
						<li class="DO-NOT-COPY-THIS-CLASS-example-bg-variants-{{ variant }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" aria-hidden="true">
								<use href="../../icons/illustrative/{{ @root.category }}/db_ic_il_{{ ../icon }}.svg#icon"></use>
							</svg>
						</li>
					{{/each }}
				</ol>
			</aside>
		</details>
	</li>{{/each }}
</ol>
