{{#colors}}
	{{#each this}}
		<h2>{{@key}}</h2>
		<ul class="sg-colors">
			{{#each this}}
				<li>
					<span class="sg-swatch" style="background: {{value}};"></span>
					<span class="sg-label">
						colors-{{attributes.color}}-{{@key}}
						<br />
						{{value}}
					</span>
				</li>
			{{/each}}
		</ul>
	{{/each}}
{{/colors}}
<!--end sg-colors-->
