<main>
	<h1>Sizings Intro</h1>
	<p>
		Please find a lot of more information regarding our spacings and how to use it within the <a target="_blank" rel="nofollow" href="https://marketingportal.extranet.deutschebahn.com/de/brandguide/layout">Marketingportal</a>
	</p>

	<db-tab-bar>
		<db-tab label="All" name="tab-bar" active>
			<h3>
				Tables of all "normal" styles
			</h3>

			<div style="display: flex; flex-wrap: wrap; gap: 8px">
				{{spacing-into-table @root "sizings" "Normal" "normal"}}
			</div>


			<h3>
				Tables of all "functional" styles
			</h3>

			<div style="display: flex; flex-wrap: wrap; gap: 8px">
				{{spacing-into-table @root "sizings" "Functional" "functional"}}
			</div>


			<h3>
				Tables of all "expressive" styles
			</h3>

			<div style="display: flex; flex-wrap: wrap; gap: 8px">
				{{spacing-into-table @root "sizings" "Expressive" "expressive"}}
			</div>
		</db-tab>

		<db-tab label="Normal" name="tab-bar">
			<div style="display: flex; flex-wrap: wrap; gap: 8px">
				{{spacing-into-table @root "sizings" "Normal" "normal"}}
			</div>
		</db-tab>

		<db-tab label="Functional" name="tab-bar">
			<div style="display: flex; flex-wrap: wrap; gap: 8px">
				{{spacing-into-table @root "sizings" "Functional" "functional"}}
			</div>
		</db-tab>

		<db-tab label="Expressive" name="tab-bar">
			<div style="display: flex; flex-wrap: wrap; gap: 8px">
				{{spacing-into-table @root "sizings" "Expressive" "expressive"}}
			</div>
		</db-tab>
	</db-tab-bar>




</main>
