<ul class="do-not-copy-this-class-example-icon-list icons functional">
	{{#each icons }}<li>
		<ul>
			{{#each @root.example-bgs }}
				<li class="do-not-copy-this-class-example-bg-variants-{{ variant }}">
					<ul>
						{{#each ../variants }}
						{{#if_eq @root.category "transportation"}}
							<li>
								<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" aria-hidden="true">
									<use href="../../icons/functional/images/{{ @root.category }}/{{#if style}}{{style}}{{else}}regular{{/if }}/db_ic_{{ ../../icon }}{{#if style }}_{{ style }}{{/if }}_{{ size }}.svg#icon"></use>
								</svg>
							</li>
						{{else}}
							<li>
								<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" aria-hidden="true">
									<use href="../../icons/functional/images/{{ @root.category }}/db_ic_{{ ../../icon }}{{#if style }}_{{ style }}{{/if }}_{{ size }}.svg#icon"></use>
								</svg>
							</li>
						{{/if_eq}}
						{{/each }}
					</ul>
				</li>
			{{/each }}
		</ul>
	</li>{{/each }}
</ul>
