<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ htmlLang }}">
  <head>
    <title>{{ pageTitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/db-ui-base.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="https://db-ui.github.io/core/css/pattern-scaffolding-project-specific.css?{{ cacheBuster }}" media="all" />

	  <script type="module">
		  import { defineCustomElements } from 'https://cdn.jsdelivr.net/npm/@db-ui/elements/loader/index.es2017.js';
		  defineCustomElements();
	  </script>
	  <link rel="stylesheet"
			href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
	  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
	  <script>hljs.highlightAll();</script>


	  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
