{{!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
--}}

<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ htmlLang }}">
  <head>
    <title>{{ pageTitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/db-ui-base.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="https://db-ui.github.io/core/css/pattern-scaffolding-project-specific.css?{{ cacheBuster }}" media="all" />

	  <script type="module">
		  import { defineCustomElements } from 'https://cdn.jsdelivr.net/npm/@db-ui/elements/loader/index.es2017.js';
		  defineCustomElements();
	  </script>


	  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">

  <div style="position: absolute; top: 8px; right: 8px">
	  <github-version-switcher owner="db-ui" repo="base">
	  </github-version-switcher>
  </div>
